html
	padding 0px
	margin 0px
	body
		padding 0px
		margin 0px
		font-family: 'Open Sans', sans-serif;
		#head
			background-color #1abc9c
			height 40px
			font-size 30px
			padding 14px
			margin 0px
		#notConnected
			font-size 28px
			color #CCC
			text-align center
			padding-top 40px
			font-weight bold
		#selectInstance
			background-color #16a085
			padding 10px
			padding-left 20px
			height 19px
			overflow hidden
			.toolbox
				display inline-block
				float right
		.out
			position absolute
			top 108px
			bottom 45px
			overflow auto
			width 100%
			.fromUser
				font-size 90%
				color gray
				font-style italic
				padding-left 10px
			table
				width 100%
				border-collapse collapse
				thead
					tr
						td
							background-color #EFEFEF
							border-bottom 1px solid #DDD
						td.type
							width 50px
							overflow hidden
						td.when
							width 50px
							overflow hidden
				tbody
					tr
						td
							border-bottom 1px dotted #DDD
						> td.type
							font-size 75%
							width 50px
							color gray
						> td.content
							color black
						> td.when
							text-align right
							width 50px
							color gray
							.hour
								font-size 65%
							.date
								font-size 30%
						&:hover
							td
								background-color #F5FFF5
						&[type='event']
							td
								border-bottom 1px dotted #DDE!important
							td.type
								color blue
						&[type='stderr']
							td
								border-bottom 1px dotted #EDD!important
							td.type
								color red
		.footer
			background-color #16a085
			position absolute
			bottom 0px
			height 45px
			overflow auto
			width 100%
			.content
				margin 7px
				margin-left 20px
				margin-right 20px
				table
					border-collapse: collapse;
					td
						width 30%
						text-align center
						color white
						font-size 70%
						margin 0px
						padding 0px
						.key
							color #CCC
						.value
							color white
				.editableContent
					display inline-block
					border-radius 4px
					padding 1px
					padding-right 4px
					padding-left 4px
					.edit
						display none
				.editableContent:hover
					background-color rgba(0, 0, 0, 0.4)
					cursor default
					.edit
						display inline-block
						margin-right 12px
		.panel
			position absolute
			top 0px
			left 0px
			bottom 0px
			right 0px
			background-color rgba(0,0,0,0.4)
			padding-top 50px
			.content
				margin auto
				width 550px
				height 400px
				overflow auto
				background-color white
				box-shadow 0px 0px 10px gray
				border-radius 16px
				padding 14px
				.title
					position: relative;
					font-size 140%
					button:last-child
						position absolute
						top 0px
						right 0px