<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:700,300'/>
<style>
#all{
	text-align: right;
	width: 300px;
	float: left;
}
body{
	padding:0px;
	margin:0px;
	font-family: "Open Sans";
}
#a,#b,#c,#d,#e{
	font-size: 300%;
	height: 68px;
	padding-right: 30px;
}
#a, #e{
	color: #C2C2C2;
	filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}
#b, #d{
	color: #CCC;
	filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
}
#msg{
	margin-top: 136px;
	border-left: 5px solid #E2E2E2;
	background-color: #F2F2F2;
	padding-left: 10px;
	font-size: 200%;
	height: 134px;
	color: gray;
	display: block;
	float: left;
	width: 200px;
}
#c{
	background-color: #E2E2E2;
}
</style>
<body>
	<div id='all'>
		<div id='a'>Error 402</div>
		<div id='b'>Error 403</div>
		<div id='c'>
			Error 404
		</div>
		<div id='d'>Error 405</div>
		<div id='e'>Error 406</div>
	</div>
	<div id='msg'>
		Sorry, this domain was not found !
	</div>